html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 80px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.container-fluid{
    margin-bottom: 80px;
}

.footer {
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.vertical-resize {
    min-height: 40px;
    resize: vertical;
}

blockquote.condensed {
    margin-bottom: 0;
    padding: 0 15px 0 0;
}

.background-right {
    background-position: right center;
    background-repeat: no-repeat;
}

.wallpaper-canvas {
    opacity: 0.2;
    position: fixed;
    width: 100%;
    height: 100%;
}

.wallpaper {
    background-position: center center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

.navbar-collapse {
    border-top-width: 0;
}

.suggestion-typeahead .dropdown-menu {
    width: 90%;
}

.suggestion-item-thumb {
    display: inline-block;
    margin: 3px;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.suggestion-item {
    padding: 3px 15px;
    margin: 5px 0;
}

    .suggestion-item:hover,
    .active .suggestion-item {
        background-color: #eeeeee;
    }

.valign-middle {
    vertical-align: middle;
}

.angular-google-map-container {
    height: 400px;
}

.ng-inline-animate {
    -webkit-transition: all linear 6s;
    -moz-transition: all linear 6s;
    -ms-transition: all linear 6s;
    -o-transition: all linear 6s;
    transition: all linear 6s;
}

.profile-image-brand {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-size: cover;
}

.profile-image {
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: cover;
}

.thumb {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.thumb-medium {
    height: 100px;
}

.navbar-brand .subtitle {
    font-size: 10px;
    position: absolute;
    top:46px;
    left: 15px;
}

.navbar-header-full {
    width: 100%;
}

.navbar-secondhand-options {
    color: #ffffff;
    float: right;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 9px 10px;
    position: relative;
}

.control-label {
    font-size: 16px;
}

textarea, textarea.form-control, input.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], .form-control[type="text"], .form-control[type="password"], .form-control[type="email"], .form-control[type="tel"]
{
    font-size: 14px;
}

textarea, textarea.form-control {
    height: 60px;
}

label {
    font-weight: normal;
}