body.red-theme,
.red-theme input {
    text-shadow: 0 0 5px rgba(255, 247, 247, 1);
}

.red-theme .text-success, 
.red-theme .text-danger {
    text-shadow: 0 0 5px rgb(47, 32, 32);
}

.red-theme .navbar,
.red-theme .btn-primary {
    background-color: #ff1425;

    background: #620708; /* Old browsers */
    background: -moz-linear-gradient(left,  #620708 0%, #b80e0f 35%, #b80e0f 65%, #620708 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#620708), color-stop(35%,#b80e0f), color-stop(65%,#b80e0f), color-stop(100%,#620708)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #620708 0%,#b80e0f 35%,#b80e0f 65%,#620708 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #620708 0%,#b80e0f 35%,#b80e0f 65%,#620708 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #620708 0%,#b80e0f 35%,#b80e0f 65%,#620708 100%); /* IE10+ */
    background: linear-gradient(to right,  #620708 0%,#b80e0f 35%,#b80e0f 65%,#620708 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#620708', endColorstr='#620708',GradientType=1 ); /* IE6-9 */


}

.red-theme .btn-primary {
    background-image: radial-gradient(circle, #ff5f6b 80%, #ff1425 81%);
}

.red-theme .btn-primary:hover{
    border-color: #cb000f;
}

.red-theme a {
    color: #ff1425;
}

.red-theme select:focus, .red-theme select.form-control:focus {
    box-shadow: 0 -2px 0 #ff5f6b inset;
}

.red-theme textarea:focus,
.red-theme textarea.form-control:focus, 
.red-theme input.form-control:focus, 
.red-theme input[type="text"]:focus, input[type="password"]:focus, 
.red-theme input[type="email"]:focus, 
.red-theme input[type="number"]:focus, 
.red-theme .form-control[type="text"]:focus, 
.red-theme .form-control[type="password"]:focus, 
.red-theme .form-control[type="email"]:focus, 
.red-theme .form-control[type="tel"]:focus {
    box-shadow: 0 -2px 0 #ff5f6b inset;
}

.red-theme .form-control:focus{
    border-color: #ff5f6b;
}

.red-theme .navbar-inverse .navbar-nav > li > a,
.red-theme .navbar-inverse .navbar-brand {
    color: #ffeeef;
}

.red-theme .panel {
    background-color: rgba(255, 255, 255, .9);
}