<div>

    <div class="text-center" ng-show="flag.isLoadingActivity">Loading activity, please wait...</div>

    <div ng-hide="flag.isLoadingActivity">

        <h1 class="page-header">
            {{activity.title}}
        </h1>
        <h4 ng-hide="activity.isPending()" ng-class="{ 'text-danger': activity.isCancelled, 'text-success': activity.isWrapped }">{{activity.friendlyStatus()}}</h4>
        <blockquote class="condensed blockquote-reverse">
            initiated by <strong>{{activity.initiator.name || activity.initiator.email}}</strong>,
            happening on <strong>{{activity.startsOnFormatted()}}</strong>
        </blockquote>

        <div ng-show="activity.description" ng-init="newDescription = activity.description; isEditingDescription = false;">
            <p>
                <span ng-hide="isEditingDescription">{{activity.description}}</span>
                <a class="clickable" ng-show="activity.isInitiator(me) && !isEditingDescription" ng-click="newDescription = activity.description; isEditingDescription = true;">Change</a>
            </p>
        </div>
        <div ng-show="!activity.description && activity.isInitiator(me)">
            <a class="clickable" ng-hide="isEditingDescription" ng-click="isEditingDescription = true">Add description</a>
        </div>
        <div ng-show="isEditingDescription">
            <form role="form" ng-submit="changeDescription(newDescription); isEditingDescription = false;">
                <div class="form-group">
                    <textarea class="form-control vertical-resize" ng-model="newDescription" placeholder="New description"></textarea>
                </div>
                <div class="form-group clearfix">
                    <button type="submit" class="btn btn-lg btn-default pull-right" ng-disabled="!newDescription">
                        OK, save it!
                    </button>
                    <button ng-click="isEditingDescription = false; newDescription = activity.description;" class="btn btn-lg btn-link pull-right" type="button">
                        Oh, never mind
                    </button>
                </div>
            </form>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{activity.confirmedMembers.length + 1}} Confirmed Participant(s)</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled list-inline">
                    <li class="clickable" ng-click="profileFor(activity.initiator) | trackEvent:'Browse':'Open User Profile':activity.initiator.email + ': ' + activity.initiator.profile()">
                        <div class="profile-image img-rounded" ng-style="{'background-image': 'url(' + activity.initiator.avatar(40) + ')'}"></div>
                        {{activity.initiator.name || activity.initiator.email}}
                        - <em>initiator</em>
                        <span ng-show="activity.initiator.is(me)">
                            - <em><strong>me</strong></em>
                        </span>
                    </li>
                    <li ng-repeat="dude in activity.confirmedMembers track by dude.email" class="clickable" ng-click="profileFor(dude) | trackEvent:'Browse':'Open User Profile':dude.email + ': ' + dude.profile()">
                        <div class="profile-image img-rounded" ng-style="{'background-image': 'url(' + dude.avatar(40) + ')'}"></div>
                        {{dude.name || dude.email}}
                        <span ng-show="dude.is(me)">
                            - <em><strong>me</strong></em>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{activity.allParticipants().length}} Willing Participant(s)</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled list-inline">
                    <li ng-repeat="dude in activity.allParticipants() track by dude.email" class="clickable">
                        <div class="profile-image img-rounded" ng-style="{'background-image': 'url(' + dude.avatar(40) + ')'}" ng-click="profileFor(dude) | trackEvent:'Browse':'Open User Profile':dude.email + ': ' + dude.profile()"></div>
                        <span ng-click="profileFor(dude) | trackEvent:'Browse':'Open User Profile':dude.email + ': ' + dude.profile()">
                            {{dude.name || dude.email}}
                        </span>
                        <span ng-show="dude.is(me)" ng-click="profileFor(dude) | trackEvent:'Browse':'Open User Profile':dude.email + ': ' + dude.profile()">
                            - <em><strong>me</strong></em>
                        </span>
                        <span ng-show="!dude.is(me) && activity.isInitiator(me) && !activity.isParticipantConfirmed(dude)">
                            | <a class="clickable" ng-click="confirmParticipant(dude)">Confirm</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="well" ng-hide="activity.place.isUnknown()">
            <h4>
                at
                <strong>{{activity.place.name || '[Unspecified name]'}}</strong>
            </h4>
            <address ng-show="activity.place.address">
                {{activity.place.address}}
            </address>
            <p ng-show="activity.place.details">{{activity.place.details}}</p>
            <a ng-show="activity.place.websiteUrl" target="_blank" ng-href="{{activity.place.websiteUrl}}">View website</a>
            <div ng-if="!activity.place.location.isUnknown() && canRenderMap">
                <ui-gmap-google-map center='map.center' zoom='15' pan="false">
                    <ui-gmap-marker idkey='"placeLocation"' coords='map.marker.location' options="{ draggable: false }"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>

        <div class="panel-group" ng-hide="activity.hasParticipant(me)">
            <div class="alert alert-dismissable alert-warning" ng-hide="activity.isMemberInstantlyConfirmed">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <p>The initator wants to manually confirm each participant, so joining doesn't guarantee you a spot.</p>
            </div>

            <div class="alert alert-dismissable alert-warning" ng-show="activity.isFull()">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <p>This activity is <strong>full</strong>. Joining doesn't guarantee you a spot, it will put you in the pending queue.</p>
            </div>

            <button class="btn btn-default btn-lg btn-block" ng-click="join()">
                <span ng-hide="activityEntry.joining">I want to join this!</span>
                <span ng-show="activityEntry.joining">Yup, I'm sure!</span>
            </button>
        </div>

        <div class="panel-group" ng-show="activity.hasParticipant(me) && !activity.isInitiator(me)" ng-init="isBailingOut = false; bailingOutBecause = null;">
            <button class="btn btn-default btn-lg btn-block" ng-hide="isBailingOut" ng-click="isBailingOut = true">Cancel my participation</button>
            <div class="well" ng-show="isBailingOut">
                <form role="form" ng-submit="bailOut(bailingOutBecause); isBailingOut = false; bailingOutBecause = null;">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="bailingOutBecause" placeholder="You're bailing out of this because?" />
                    </div>
                    <div class="form-group clearfix">
                        <button type="submit" class="btn btn-lg btn-default pull-right" ng-disabled="!bailingOutBecause">
                            OK... cancel it!
                        </button>
                        <button ng-click="isBailingOut = false" class="btn btn-lg btn-link pull-right" type="button">
                            Oh, never mind
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel-group" ng-show="activity.isInitiator(me)" ng-init="isCancelling = false; cancellingBecause = null;">
            <button class="btn btn-default btn-lg btn-block panel-group" ng-click="wrapIt()" ng-hide="activity.isWrapped || activity.isCancelled">
                <span ng-hide="activityEntry.wrapping">Confirm Activity</span>
                <span ng-show="activityEntry.wrapping">Yup, I'm sure!</span>
            </button>

            <button class="btn btn-default btn-lg btn-block" ng-hide="activity.isCancelled || isCancelling" ng-click="isCancelling = true">Cancel it</button>
            <div class="well" ng-show="isCancelling">
                <form role="form" ng-submit="cancel(cancellingBecause); isCancelling = false; cancellingBecause = null;">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="cancellingBecause" placeholder="You're cancelling this because?" />
                    </div>
                    <div class="form-group clearfix">
                        <button type="submit" class="btn btn-lg btn-default pull-right" ng-disabled="!cancellingBecause">
                            OK... cancel it!
                        </button>
                        <button ng-click="isCancelling = false" class="btn btn-lg btn-link pull-right" type="button">
                            Oh, never mind
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div disqus="disqusThreadId"></div>

</div>