<div>
    <h1 class="page-header">{{activity.title}}</h1>
    <blockquote class="condensed blockquote-reverse">
        initiated by <strong>{{activity.initiator.name || activity.initiator.email}}</strong>
    </blockquote>
    <p ng-show="{{activity.description}}">{{activity.description}}</p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{activity.allParticipants().length}} Willing Participant(s)</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled list-inline">
                <li ng-repeat="dude in activity.allParticipants()">
                    <span ng-show="dude.name">
                        {{dude.name}}
                        <small>[{{dude.email}}]</small>
                    </span>
                    <span ng-hide="dude.name">
                        {{dude.email}}
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{activity.confirmedMembers.length + 1}} Confirmed Participant(s)</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled list-inline">
                <li>
                    <span ng-show="activity.initiator.name">
                        {{activity.initiator.name}}
                        <small>[{{activity.initiator.email}}]</small>
                    </span>
                    <span ng-hide="activity.initiator.name">
                        {{activity.initiator.email}}
                    </span>
                    - <em>initiator</em>
                </li>
                <li ng-repeat="dude in activity.confirmedMembers">
                    <span ng-show="dude.name">
                        {{dude.name}}
                        <small>[{{dude.email}}]</small>
                    </span>
                    <span ng-hide="dude.name">
                        {{dude.email}}
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <pre>{{activityEntry|json}}</pre>
</div>