<div>

    <div class="text-center" ng-show="flag.isLoadingActivity">Loading activitiy, please wait...</div>

    <div ng-hide="flag.isLoadingActivity">

        <h1 class="page-header">{{activity.title}}</h1>
        <blockquote class="condensed blockquote-reverse">
            initiated by <strong>{{activity.initiator.name || activity.initiator.email}}</strong>,
            happening on <strong>{{activity.startsOnFormatted()}}</strong>
        </blockquote>

        <p ng-show="{{activity.description}}">{{activity.description}}</p>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{activity.confirmedMembers.length + 1}} Confirmed Participant(s)</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled list-inline">
                    <li>
                        <span ng-show="activity.initiator.name">
                            {{activity.initiator.name}}
                            <small class="text-muted">[{{activity.initiator.email}}]</small>
                        </span>
                        <span ng-hide="activity.initiator.name">
                            {{activity.initiator.email}}
                        </span>
                        - <em>initiator</em>
                    </li>
                    <li ng-repeat="dude in activity.confirmedMembers">
                        <span ng-show="dude.name">
                            {{dude.name}}
                            <small class="text-muted">[{{dude.email}}]</small>
                        </span>
                        <span ng-hide="dude.name">
                            {{dude.email}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{activity.allParticipants().length}} Willing Participant(s)</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled list-inline">
                    <li ng-repeat="dude in activity.allParticipants()">
                        <span ng-show="dude.name">
                            {{dude.name}}
                            <small class="text-muted">[{{dude.email}}]</small>
                        </span>
                        <span ng-hide="dude.name">
                            {{dude.email}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="well" ng-hide="activity.place.isUnknown()">
            <h4>
                at
                <strong>{{activity.place.name || '[Unspecified name]'}}</strong>
            </h4>
            <address ng-show="activity.place.address">
                {{activity.place.address}}
            </address>
            <p ng-show="place.details">{{activity.place.details}}</p>
            <div>
                <div id="map_canvas">
                    <ui-gmap-google-map center='map.center' zoom='15' pan="false">
                        <ui-gmap-marker idkey='"placeLocation"' coords='map.marker.location' options="{ draggable: false }"></ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>

        </div>

        <div class="panel-group">
            <button class="btn btn-default btn-lg btn-block" ng-click="join(activityEntry)" ng-hide="activity.hasParticipant(me)">
                <span ng-hide="activityEntry.joining">I want to join this!</span>
                <span ng-show="activityEntry.joining">Yup, I'm sure!</span>
            </button>
        </div>

    </div>
</div>