<div class="row">

    <div class="text-center" ng-show="flag.isLoadingMyActivities">Loading your activities, please wait...</div>
    <div class="text-center" ng-show="flag.isLoadingJoinedActivities">Loading joined activities, please wait...</div>
    <div class="text-center" ng-show="flag.isLoadingJoinableActivities">Loading join-able activities, please wait...</div>

    <div class="container-fluid" ng-show="myActivities.length">
        <div class="panel panel-default">
            <div class="panel-heading"><h5>Initiated by me</h5></div>
            <div class="panel-body">
                <div ng-hide="flag.isLoadingMyActivities" class="row">
                    <div class="col-sm-4" ng-repeat="entry in myActivities | orderBy:'startsOn'">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-right">
                                    <span class="label label-default" title="Nobody joined so far, there's just you" ng-hide="entry.activity.pendingMembers.length">1</span>
                                    <span class="label label-info" ng-show="entry.activity.pendingMembers.length">
                                        {{entry.activity.allParticipants().length}}
                                    </span>
                                </div>
                                <h5>{{entry.activity.title}}</h5>
                            </div>
                            <div class="panel-body">
                                <p class="text-right">happening on <strong>{{entry.activity.startsOnFormatted()}}</strong></p>
                                <p ng-show="entry.activity.description">{{entry.activity.description}}</p>
                                <a class="btn btn-block" href="#/activity/{{entry.id}}">Manage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" ng-show="joinedActivities.length">
        <div class="panel panel-default">
            <div class="panel-heading"><h5>Joined</h5></div>
            <div class="panel-body">
                <div ng-hide="flag.isLoadingMyActivities" class="row">
                    <div class="col-sm-4" ng-repeat="entry in joinedActivities | orderBy:'startsOn'">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-right">
                                    <span class="label label-default" title="Nobody joined so far, there's just you" ng-hide="entry.activity.pendingMembers.length">1</span>
                                    <span class="label label-info" ng-show="entry.activity.pendingMembers.length">
                                        {{entry.activity.allParticipants().length}}
                                    </span>
                                </div>
                                <h5>{{entry.activity.title}}</h5>
                            </div>
                            <div class="panel-body">
                                <p class="text-right">happening on <strong>{{entry.activity.startsOnFormatted()}}</strong></p>
                                <p ng-show="entry.activity.description">{{entry.activity.description}}</p>
                                <a class="btn btn-block" href="#/activity/{{entry.id}}">Status and Options</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" ng-show="activities.length">
        <div class="panel panel-default">
            <div class="panel-heading"><h5>Activities to join</h5></div>
            <div class="panel-body">
                <div ng-hide="flag.isLoadingJoinableActivities" class="row">
                    <div class="col-sm-4" ng-repeat="entry in activities | orderBy:'startsOn'">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-right">
                                    <span class="label label-warning" ng-hide="entry.activity.isMemberInstantlyConfirmed" title="The initator wants to manually confirm each participant, so joining doesn't guarantee you a spot">Not Instant</span>
                                    <span class="label label-default" title="Nobody joined so far, there's just the initiator" ng-hide="entry.activity.pendingMembers.length">1</span>
                                    <span class="label label-info" ng-show="entry.activity.pendingMembers.length">
                                        {{entry.activity.allParticipants().length}}
                                    </span>
                                </div>
                                <h4>{{entry.activity.title}}</h4>
                                <blockquote class="condensed blockquote-reverse">
                                    <small>with {{entry.activity.initiator.name || entry.activity.initiator.email}}</small>
                                </blockquote>
                            </div>
                            <div class="panel-body">
                                <p class="text-right">happening on <strong>{{entry.activity.startsOnFormatted()}}</strong></p>
                                <p ng-show="entry.activity.description">{{entry.activity.description}}</p>

                                <a class="btn btn-block" href="#/activity/{{entry.id}}">more about this...</a>

                                <button class="btn btn-lg btn-default btn-block" ng-click="join(entry)" ng-disabled="entry.joined">
                                    <span ng-hide="entry.joining || entry.joined">I want to join this!</span>
                                    <span ng-show="entry.joining &&  !entry.joined">Yup, I'm sure!</span>
                                    <span ng-show="joined">Joined!</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
