<div style="margin-top: 40px;" ng-init="isWillingEmailAuth = false">

    <div ng-controller="hangOutUserLogin" ng-hide="$parent.isWillingEmailAuth">
        <form role="form" ng-submit="login() | trackEvent:'Authentication':'via Hangout Users':username">
            <fieldset>
                <legend>
                    <h1>Login</h1>
                </legend>
            </fieldset>
            <div class="form-group">
                <input type="email" class="form-control" ng-model="username" placeholder="Email address" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!username || !password">
                    Login
                </button>
            </div>
            <div class="form-group text-center">
                <div>
                    <a href="#!/register">
                        Don't have an account? Register one here.
                    </a>
                </div>
                or
                <div>
                    <a class="clickable" ng-click="$parent.isWillingEmailAuth = true">
                        Login with your email without registering
                    </a>
                </div>
            </div>
            <div class="alert alert-dismissable alert-warning text-center" ng-show="error">
                <p>
                    {{error}}
                </p>
            </div>
        </form>
    </div>

    <div ng-controller="hangOutMailLogin" ng-show="$parent.isWillingEmailAuth">
        <form role="form" ng-submit="login() | trackEvent:'Authentication':'via Email':me.email" ng-hide="isLoginSuccessfull">
            <fieldset>
                <legend>
                    <h1>About yourself</h1>
                </legend>
            </fieldset>
            <div class="form-group">
                <input type="email" class="form-control" ng-model="me.email" placeholder="Email address"
                       typeahead="email as s.email for s in suggestions() | filter:$viewValue"
                       typeahead-focus-first="false"
                       typeahead-on-select="selectSuggestion($item, $model, $label)" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="me.name" placeholder="Full name"
                       typeahead="name as s.name for s in suggestions() | filter:$viewValue"
                       typeahead-focus-first="false"
                       typeahead-on-select="selectSuggestion($item, $model, $label)" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!me.email || !me.name">
                    Yup, that's me
                </button>
            </div>
            <div class="form-group text-center">
                <a class="clickable" ng-click="$parent.isWillingEmailAuth = false">
                    Cancel, go back to user account login
                </a>
            </div>
        </form>
        <div class="alert alert-dismissable alert-success" ng-show="isLoginSuccessfull">
            <strong>Login success!</strong>
            <p>
                An authentication email was sent to the provided email address. Please check your inbox to confirm the email address and access the Hang-Out Activity Portal.
            </p>
        </div>
    </div>

</div>