<div>
    <div ng-controller="hangOutMailLogin">
        <form role="form" ng-submit="login()" ng-hide="isLoginSuccessfull">
            <fieldset>
                <legend>
                    <h1>About yourself</h1>
                </legend>
            </fieldset>
            <div class="form-group">
                <input type="email" class="form-control" ng-model="me.email" placeholder="Email address"
                       typeahead="email as s.email for s in suggestions() | filter:$viewValue"
                       typeahead-focus-first="false"
                       typeahead-on-select="selectSuggestion($item, $model, $label)" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="me.name" placeholder="Full name"
                       typeahead="name as s.name for s in suggestions() | filter:$viewValue"
                       typeahead-focus-first="false"
                       typeahead-on-select="selectSuggestion($item, $model, $label)" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!me.email || !me.name">
                    Yup, that's me
                </button>
            </div>
        </form>
        <div class="alert alert-dismissable alert-success" ng-show="isLoginSuccessfull">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <strong>Login success!</strong>
            <p>
                An authentication email was sent to the provided email address. Please check your inbox to confirm the email address and access the Hang-Out Activity Portal.
            </p>
        </div>
    </div>

</div>