<div>
    <form class="form-horizontal" role="form" ng-submit="publish()" ng-init="isSimpleView = true">
        <fieldset>
            <legend>
                <h1>
                    Initiate Activity
                </h1>
            </legend>

            <div class="form-group suggestion-typeahead">
                <label for="inputActivityName" class="col-xs-2 control-label">Name</label>
                <div class="col-xs-10">
                    <input id="inputActivityName" type="text" class="form-control"
                           typeahead-template-url="scripts/create/activity-list-item.tmpl.html"
                           typeahead="a as a.title for a in suggestActivitiesFor($viewValue)"
                           typeahead-on-select="onActivitySelection($item, $model, $label)"
                           placeholder="e.g.: Let's play some tennis"
                           ng-model="suggestedActivity"
                           ng-change="activity.title = suggestedActivity"
                           aria-autocomplete="list"
                           aria-expanded="false">
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-default btn-block" ng-click="activity.isMemberInstantlyConfirmed = !activity.isMemberInstantlyConfirmed">
                        <span ng-show="activity.isMemberInstantlyConfirmed">Members are accepted as they join</span>
                        <span ng-hide="activity.isMemberInstantlyConfirmed">You will manually confirm members</span>
                    </button>
                </div>
            </div>
            <div class="form-group" ng-show="activity.isMemberInstantlyConfirmed">
                <label for="inputMaxConfirmedMembers" class="col-xs-2 control-label">How many?</label>
                <div class="col-xs-10">
                    <input id="inputMaxConfirmedMembers" type="number" class="form-control" ng-model="activity.maxInstantConfirms" placeholder="Maximum number of participants to instantly accept" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">When</label>
                <div class="col-xs-10">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownStartsOn" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="activityDate.from" placeholder="Add a time" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="activityDate.from" on-set-time="activityDate.setFrom()" data-datetimepicker-config="{ dropdownSelector: '#dropdownStartsOn' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-hide="isSimpleView">
                <label class="col-xs-2 control-label">Until</label>
                <div class="col-xs-10">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownEndsOn" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="activityDate.to" placeholder="Add a time" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="activityDate.to" on-set-time="activityDate.setTo()" data-datetimepicker-config="{ dropdownSelector: '#dropdownEndsOn' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group suggestion-typeahead">
                <label for="place" class="col-xs-2 control-label">Where</label>
                <div class="col-xs-10">
                    <input id="place" type="text" class="form-control"
                           typeahead-template-url="scripts/create/place-list-item.tmpl.html"
                           typeahead="place as place.name for place in suggestPlacesFor($viewValue, suggestedActivity)"
                           typeahead-on-select="onPlaceSelection($item, $model, $label)"
                           placeholder="Add a place"
                           ng-model="place"
                           ng-change="activity.place.name = place"
                           aria-autocomplete="list"
                           aria-expanded="false">
                </div>
            </div>
            <div class="form-group" ng-hide="isSimpleView">
                <label for="address" class="col-xs-2 control-label">Address</label>
                <div class="col-xs-10">
                    <textarea id="address" class="form-control vertical-resize" ng-model="activity.place.address" placeholder="e.g.: 12 Broadway Blvd, New York"></textarea>
                </div>
            </div>
            <div class="form-group" ng-hide="isSimpleView">
                <label for="placeLat" class="col-xs-2 control-label">GPS</label>
                <div class="col-xs-5">
                    <input id="placeLat" type="number" class="form-control" ng-model="activity.place.location.lat" placeholder="e.g.: 46.764899" />
                </div>
                <div class="col-xs-5">
                    <input id="placeLng" type="number" class="form-control" ng-model="activity.place.location.lng" placeholder="e.g.: 23.553576" />
                </div>
            </div>
            <div class="form-group" ng-hide="isSimpleView">
                <label for="placeDetails" class="col-xs-2 control-label">Contact</label>
                <div class="col-xs-10">
                    <textarea id="placeDetails" class="form-control vertical-resize" ng-model="activity.place.details" placeholder="e.g.: phone number, e-mail"></textarea>
                </div>
            </div>
            <div class="form-group" ng-hide="isSimpleView">
                <label for="inputDescription" class="col-xs-2 control-label">Details</label>
                <div class="col-xs-10">
                    <textarea id="inputDescription" type="text" class="form-control vertical-resize" ng-model="activity.description" placeholder="e.g.: Open hours, costs, level of difficulty, things you need, special demands"></textarea>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="form-group" ng-hide="isSimpleView">
                <label for="placeUrl" class="col-xs-2 control-label">Place website</label>
                <div class="col-xs-10">
                    <input id="placeUrl" type="url" class="form-control" ng-model="activity.place.websiteUrl" placeholder="e.g.: http://winners-tennis.ro/" />
                </div>
            </div>
        </fieldset>

        <span>
            <a class="clickable" ng-click="isSimpleView = false" ng-show="isSimpleView">more ...</a>
        </span>

        <div class="form-group" ng-controller="hangOutNewActivityFooterCtrl">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!isValid() || publish.ed || publish.onWire" ng-hide="true">
                    <span ng-hide="publish.ing || publish.ed || publish.onWire">Looks good, publish it!</span>
                    <span ng-show="publish.ing &&  !publish.ed && !publish.onWire">Yup, I'm sure!</span>
                    <span ng-show="publish.onWire">Publishing...</span>
                    <span ng-show="publish.ed">Published!</span>
                </button>
            </div>
        </div>

        <script type="text/ng-template" id="publish-activity-footer">
            <div class="form-group" ng-controller="hangOutNewActivityFooterCtrl">
                <div class="col-xs-12">
                    <button type="button" ng-click="main().publish()" class="btn btn-lg btn-primary btn-block" ng-disabled="!main().isValid() || main().publish.ed || main().publish.onWire">
                        <span ng-hide="main().publish.ing || main().publish.ed || main().publish.onWire">Looks good, publish it!</span>
                        <span ng-show="main().publish.ing &&  !main().publish.ed && !main().publish.onWire">Yup, I'm sure!</span>
                        <span ng-show="main().publish.onWire">Publishing...</span>
                        <span ng-show="main().publish.ed">Published!</span>
                    </button>
                </div>
            </div>
        </script>
    </form>
</div>